---
layout: page
title: Portfolio
permalink: /portfolio/
---
<p>This portfolio includes work product and writings related to my product management (3+ yrs) and startup (10+ yrs) experience. I also have machine learning projects demonstrating my technical facility, those fall under these categories:</p>
<ol>
    <li>End to End projects - implementing an entire data science workflow using real data</li>
    <li>Implementing Algorithms - using only basic libraries like numpy</li>
    <li>Processed Data - using relatively processed data to practice machine learning</li>
    <li>SQL - queries to answer data questions</li>
</ol>

{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
