---
layout: page
title: Portfolio
permalink: /portfolio/
---
<p>This portfolio includes writings related to product management. And there are machine learning projects demonstrating my technical facility, broken into these categories:</p>
<ol>
    <li>End to End projects - implementing an entire data science workflow starting from raw data</li>
    <li>Algorithms - implementing an algorithm like CNN using only basic libraries like numpy</li>
    <li>Processed Data projects - data science projects starting from relatively processed data</li>
    <li>SQL - queries to answer data questions</li>
</ol>

<ul>
  {% for category in site.categories %}
    <li><a name="{{ category | first }}">{{ category | first }}</a>
      <ul>
      {% for post in category.last %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
